# CapGt Proyecto 3 Var de entorno

# Credenciales fijas requeridas (proy3 / secret)
MYSQL_USER=proy3
MYSQL_PASSWORD=secret
MYSQL_DATABASE=capgt_db
MYSQL_ROOT_PASSWORD=rootsecret

# Sesion Express
SESSION_SECRET=capgt_secret_proy3_2026
